In [4]:
import pandas as pd

# Series example
s = pd.Series([1, 2, 3, 4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
# DataFrame example
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [2]:
import pandas as pd

file_path = r'C:\Users\X.Lu\COM7003 AI Labs\Week 3 Labs\shopping.csv'
df = pd.read_csv(file_path)

# Display the first 5 rows
print(df.head())

  invoice_no customer_id  gender  age  category  quantity    price  \
0    I138884     C241288  Female   28  Clothing         5  1500.40
1    I317333     C111565    Male   21     Shoes         3  1800.51
2    I127801     C266599    Male   20  Clothing         1   300.08
3    I173702     C988172  Female   66     Shoes         5  3000.85
4    I337046     C189076  Female   53     Books         4    60.60

  payment_method invoice_date   shopping_mall
0    Credit Card     5/8/2022          Kanyon
1     Debit Card   12/12/2021  Forum Istanbul
2           Cash    9/11/2021       Metrocity
3    Credit Card   16/05/2021    Metropol AVM
4           Cash   24/10/2021          Kanyon

In [14]:
import pandas as pd

# Define the file path
file_path = r'C:\Users\X.Lu\COM7003 AI Labs\Week 3 Labs\shopping.csv'

# Read the CSV file
df = pd.read_csv(file_path)


# (Optional) Modify the data if needed
# Example: Adding a new column
df['discounted_price'] = df['price'] * 0.9  # Applying a 10% discount

# Write the updated DataFrame back to the same file
df.to_csv(file_path, index=False)

print(f"Data has been successfully written back to {file_path}.")
print("First 5 rows of the original file:")
print(df.head())

Data has been successfully written back to C:\Users\X.Lu\COM7003 AI Labs\Week 3 Labs\shopping.csv.
First 5 rows of the original file:
  invoice_no customer_id  gender  age  category  quantity    price  \
0    I138884     C241288  Female   28  Clothing         5  1500.40
1    I317333     C111565    Male   21     Shoes         3  1800.51
2    I127801     C266599    Male   20  Clothing         1   300.08
3    I173702     C988172  Female   66     Shoes         5  3000.85
4    I337046     C189076  Female   53     Books         4    60.60

  payment_method invoice_date   shopping_mall  discounted_price
0    Credit Card     5/8/2022          Kanyon          1350.360
1     Debit Card   12/12/2021  Forum Istanbul          1620.459
2           Cash    9/11/2021       Metrocity           270.072
3    Credit Card   16/05/2021    Metropol AVM          2700.765
4           Cash   24/10/2021          Kanyon            54.540