In [36]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits.append('date')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'date']

In [38]:
student = {'name': 'Alice', 'age': 20, 'major': 'CS'}
print(student['name'])

Alice

In [2]:
greeting = "Hello"
name = "Alice"
print(greeting + ", " + name)

Hello, Alice

In [12]:
a = 42
b = 3.14
c = "Hello, World!"
d = [1, 2, 3]
e = (4, 5, 6)
f = {7, 8, 9}
g = {"name": "Alice", "age": 25}
h = True

# Print data types
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>

In [22]:
# Type conversion
num = 10
num_str = str(num)  # Convert int to string
print(num_str, type(num_str))

str_to_int = int("123")  # Convert string to int
print(str_to_int, type(str_to_int))

string_to_list = list("Python")  # Convert string to list
print(string_to_list, type(string_to_list))

10 <class 'str'>
123 <class 'int'>
['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [24]:
# Numeric operations
x = 15
y = 4
print("Addition:", x + y)
print("Division:", x / y)
print("Floor Division:", x // y)

# String operations
greeting = "Hello"
name = "Python"
print(greeting + ", " + name + "!")

# List and set operations
my_list = [1, 2, 3]
my_list.append(4)
print("Modified list:", my_list)

my_set = {1, 2, 3}
my_set.add(4)
print("Modified set:", my_set)

Addition: 19
Division: 3.75
Floor Division: 3
Hello, Python!
Modified list: [1, 2, 3, 4]
Modified set: {1, 2, 3, 4}

In [26]:
# Create a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

# Access a value
print("Name:", person["name"])

# Modify a value
person["age"] = 26
print("Updated age:", person["age"])

# Add a new key-value pair
person["profession"] = "Engineer"
print("Updated dictionary:", person)

# Delete a key-value pair
del person["city"]
print("After deletion:", person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Name: Alice
Updated age: 26
Updated dictionary: {'name': 'Alice', 'age': 26, 'city': 'New York', 'profession': 'Engineer'}
After deletion: {'name': 'Alice', 'age': 26, 'profession': 'Engineer'}

In [28]:
# Boolean variables
is_active = True
is_logged_in = False

# Logical operators
print("AND:", is_active and is_logged_in)
print("OR:", is_active or is_logged_in)
print("NOT:", not is_active)

# Comparison operators
x = 10
y = 20
print("x > y:", x > y)
print("x == y:", x == y)

AND: False
OR: True
NOT: False
x > y: False
x == y: False

In [32]:
# Collect user data
name = input("Enter your name: ")
age = int(input("Enter your age: "))
hobbies = input("Enter your hobbies (comma-separated): ").split(",")

# Store in dictionary
user_data = {"name": name, "age": age, "hobbies": hobbies}

# Display data
print("\nUser Information:")
print(f"Name: {user_data['name']}")
print(f"Age: {user_data['age']}")
print(f"Hobbies: {', '.join(user_data['hobbies'])}")

Enter your name:  Lucas
Enter your age:  20
Enter your hobbies (comma-separated):  Badminton

User Information:
Name: Lucas
Age: 20
Hobbies: Badminton